[submodule "R-Programming"]
	path = R-Programming
	url = https://github.com/iamshirdi/R-Programming.git
[submodule "python/Data-Camp"]
	path = Exercises-data-science/Data-Camp
	url = https://github.com/iamshirdi/Data-Camp.git
